---
import BaseLayout from './BaseLayout.astro';
import '../styles/themes/owner1.css';
import type { Locale } from '../i18n';

interface Props {
  title?: string;
  description?: string;
  locale?: Locale;
}

const { title, description, locale } = Astro.props;
---

<BaseLayout title={title} description={description} locale={locale}>
  <div class="theme-owner1">
    <slot />
  </div>
</BaseLayout>
